{% load static %}
<!doctype html>
<html dir="rtl">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap4.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/login-reg-style1.css' %}">
    <link href="https://fonts.googleapis.com/css?family=El+Messiri:500&display=swap" rel="stylesheet">
    <title>{%block title%}{%endblock%}</title>
</head>
<body>
{%block nav%}
    <div class="top-nav-bar">
  <div>
      <a href="{% url 'products:home' %}"><img src="{% static 'imgs/4u-logo.PNG' %}" alt="logo" class="logo"></a>
  </div>
    </div>
{%endblock%}
{% block bg %}
<img src="{% static 'imgs/indexbg.jpg' %}" style="z-index: -3;position: fixed;right: 0;bottom: 0;width: 100%;" alt="">
{% endblock %}
{%block content%}


    
{%endblock%}

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer_area clearfix" dir="ltr">
        <div class="container">
            <div class="row align-items-end">
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area">
                        <div class="payment">
                            <span title="cash"><i class="fas fa-cash-register"></i></span>
                            <span title="visa"><i class="fab fa-cc-visa"></i></span>
                            <span title="paypal"><i class="fab fa-cc-paypal"></i></span>
                            <span title="credit card"><i class="fas fa-credit-card"></i></span>
                        </div>
                    </div>
                   <div class="hrr"></div>
                    <div class="single_widget_area">
                      <div class="footer_social_area">
                          <a href="https://www.facebook.com/wabbooo" title="Facebook"><i class="fab fa-facebook-square"></i></a>
                          <a href="https://www.instagram.com/mahmoud_samir_fitness/" title="Instagram"><i class="fab fa-instagram"></i></a>
                          <a href="#" title="Twitter"><i class="fab fa-twitter-square"></i></a>
                          <a href="https://www.linkedin.com/in/mahmoud-samir-396891170/" title="In"><i class="fab fa-linkedin"></i></i></a>
                      </div>
                  </div>
                </div>
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area mb-30">
                        <ul class="footer_widget_menu">
                            <li><a href="#">4U تعرف على</a></li>
                            <li><a href="ContactUs.html">تواصل معنا</a></li>
                            <li><a href="#">4U الشراء من</a></li>
                            <li><a href="#">سياسة الخصوصية</a></li>
                            <li><a href="#">4U البيع على</a></li>
                            <li><a href="#">الشروط والأحكام</a></li>
                        </ul>
                    </div>
              </div>
          </div>

<div class="row mt-5">
                <div class="col-md-12 text-center">
                    <p id="copyright">Copyright&copy; All rights reserved | This template is made with by Mahmoud Samir Gomaa</p>
                </div>
            </div>

        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->
    <!-- end cards -->
   
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/ajaxjquery.min.js' %}"></script>
    <script src="{% static 'js/all.js' %}" type="text/javascript"></script>
</body>
</html>