{% extends "main.html" %}
{% load static %}
{%block title%}
Product Management
{%endblock%}
{% block bg %}
<img src="{% static 'imgs/bgdd.jpg' %}" style="position: fixed;right: 0;bottom: 0;width: 100%;" alt="">
{%endblock%}
{%block content%}
    <section class="sellerprof text-center row" dir="rtl">
    
    
        
  
        {% if user.is_superuser %}
        <!-- start side menu -->
      <div class="col-md-3 sideseller">
        <div style="position: fixed;
        background-color: rgb(0,0,0,.8);
        width: 330px;
        height: 782px;">
        <a href="{% url 'products:dashboard' %}"><p class="tree_label lab1">
          الرئيسية
        </p></a>
        <a href="{% url 'accounts:prof' %}"><p class="tree_label activeseller">
          الملف الشخصى
        </p></a>
        <a href="{% url 'products:orderhistory' %}"><p class="tree_label">
          تاريخ المبيعات
        </p></a>
        <a href="{% url 'products:add_product' %}"><p class="tree_label">
          ادارة المنتج
        </p></a>
        <a href="{% url 'products:manageorder' %}"><p class="tree_label">
          ادارة الاوردر
        </p></a>
      </div>
      </div>
      {% endif %}
      <!-- end side menu -->
      <div class="col-md-9" style="text-align: -webkit-center;margin: 50px auto; font-size: 25px;">
        <table>
            <tr>
                <td>اسم المستخدم</td>
                <td>{{request.user}}</td>
            </tr>
            <tr>
                <td>البريد الالكترونى</td>
                <td>{{request.user.email}}</td>
            </tr>
        </table>
     
        <a class="btn btn-dark" href="{% url 'accounts:edit' %}">تعديل</a>
        </div>

      
      
    </section>
    <div style="height: 200px;"></div>
{%endblock%}