{% extends "main.html" %}
{% load static %}
{%block title%}
Product Management
{%endblock%}
{% block bg %}
<img src="{% static 'imgs/bgdd.jpg' %}" style="position: fixed;right: 0;bottom: 0;width: 100%;" alt="">
{%endblock%}
{%block content%}
    <section class="sellerprof text-center row" dir="rtl">
      <!-- start side menu -->
      <div class="col-md-3 sideseller">
        <div style="position: fixed;
        background-color: rgb(0,0,0,.8);
        width: 330px;
        height: 782px;">
        <a href="{% url 'products:dashboard' %}"><p class="tree_label lab1">
          الرئيسية
        </p></a>
        <a href="{% url 'accounts:prof' %}"><p class="tree_label">
          الملف الشخصى
        </p></a>
        <a href="{% url 'products:orderhistory' %}"><p class="tree_label activeseller">
          تاريخ المبيعات
        </p></a>
        <a href="{% url 'products:add_product' %}"><p class="tree_label">
          ادارة المنتج
        </p></a>
        <a href="{% url 'products:manageorder' %}"><p class="tree_label">
          ادارة الاوردر
        </p></a>
      </div>
      </div>
      <!-- end side menu -->
      <div class="col-md-9">
        <h1 class="text-right carth1">سجل الاوردرات</h1>
        <table class="table editprod">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">اسم العميل</th>
            <th scope="col">الكود البريدى</th>
            <th scope="col">تاريخ الانشاء</th>
            <th scope="col">حالة الدفع</th>
           </tr>
        </thead>
        {% for order in allorders %}

        <tbody>
          <tr>
            <td>{{order.id}}</td>
            <td>{{order.name}}</td>
            <td>{{order.postal_code}}</td>
            <td>{{order.created}}</td>
            <td>تم</td>
          
          </tr>
        
        </tbody>
        {% endfor %}
    </table>
        
      </div>
      
      

    </section>
    <div style="height: 200px;"></div>
{%endblock%}